<h2><%= email.object %></h2>
<p><%= email.body %></p>

<div class="mt-3">
  <!-- Boutons inactifs pour le moment -->
  <%= button_to "Supprimer", email_path(email), method: :delete, class: "btn btn-danger" %>
  <button class="btn btn-secondary disabled">Marquer comme non-lu</button>
</div>
